<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Password</title>
</head>
<body>
    <h1>Edit Password</h1>
    <form action="{{ url_for('edit_password', id=password.id) }}" method="post">
        <label for="account">Account:</label>
        <input type="text" id="account" name="account" value="{{ password.account }}" required><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ password.username }}" required><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value="{{ password.decrypt_password() }}" required><br>
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes" value="{{ password.notes }}"><br>
        <button type="submit">Update Password</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Password Manager</a>
</body>
</html>
